# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Model files (onnx not used, excluded)
model/*.onnx

# Uploads & processed files
uploads/
BE/uploads/
BE/processed/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
